{% extends 'mainapp/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Программирование - наше все</h1>
  <p class="lead">
      Лучшие курсы, которые вы сможете найти от Егора Чуешкова. С нуля до настоящего воина в мире IT. Гарантия трудоустройства 102%
  </p>
</div>


<div class="container">
  <div class="row text-center">
    {% for el in courses %}
    <div class="col-md-6">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ el.name }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ el.time }}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ el.toolbox_1 }}</li>
          <li>{{ el.toolbox_2 }}</li>
          <li>{{ el.toolbox_3 }}</li>
          <li>{{ el.toolbox_4 }}</li>
        </ul>
        <a href="{% url 'course-detail' el.id %}" class="btn btn-lg btn-block btn-primary">Узнать больше</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}